= render 'partials/help'

%h1 Listing projects

.flickr_pagination
  = will_paginate @projects

%table
  %thead
    %tr
      %th Creator
      %th Project
      %th Url
      %th Tasks
  %tbody
    - @projects.each do |project|
      %tr
        %td= link_to project.user.email, project.user
        %td= link_to project.name, project
        %td= link_to project.url, project.url, :target => '_blank'
        %td= project.tasks.size

%br

= link_to 'New project', new_project_path if can? :create, Project
