#project_header
  %p
    %b Owner:
    = link_to @project.user.email, @project.user
  
  %p
    %b Name:
    = @project.name
  %p
    %b Url:
    = link_to @project.url, @project.url, :target => '_blank'
  %p
    %b Description:
    = @project.description
  %p
    %b Involvement:
    = @project.involvement

#project_tasks
  .tasks_content
    - @project.tasks.each do |task|
      %p.project_title
        = task.title
      %p.project_description
        = task.description

%br
- if can? :update, @project
  = link_to 'Edit', edit_project_path(@project)
  \|
- if can? :destroy, @project
  = link_to 'Destroy', @project, :confirm => 'Are you sure?', :method => :delete
  \|
= link_to 'Back', projects_path
