%p
  %b Name:
  = @project.name
%p
  %b Url:
  = @project.url
%p
  %b Description:
  = @project.description
%p
  %b Involvement:
  = @project.involvement

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
