%p
  %b Name:
  = @project.name
%p
  %b Url:
  = link_to @project.url, @project.url, :target => '_blank'
%p
  %b Description:
  = @project.description
%p
  %b Involvement:
  = @project.involvement

- if can? :update, @project
  = link_to 'Edit', edit_project_path(@project)
  \|
= link_to 'Back', projects_path
