!!!
%html
  %head
    %title Opensource it with me!
    = stylesheet_link_tag 'default'
    = formtastic_stylesheet_link_tag
    = stylesheet_link_tag 'scaffold', 'main'
    = javascript_include_tag 'jquery-1.4.2.min', 'rails', 'application'
    = csrf_meta_tag
    = yield(:head)
  %body
    #container
    
      #header
        #logo
          = link_to 'OpenSourceitwith.me', root_path
          
        #user_nav
          - if user_signed_in?
            = link_to 'New Project', new_project_path
            - if admin?
              = link_to 'Administration', admin_path
            = current_user.email
            |
            = link_to "Sign out", destroy_user_session_path
          - else
            = link_to "Sign up", new_user_registration_path
            or 
            = link_to "Sign in", new_user_session_path
        .clear
        
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
        
      = yield

  =render :partial => 'layouts/google' if Rails.env == 'production'
