!!!
%html
  %head
    %title Opensource it with me!
    = formtastic_stylesheet_link_tag
    = stylesheet_link_tag 'scaffold', 'main'
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield(:head)
  %body
    #container
      #user_nav
        - if user_signed_in?
          = current_user.email
          |
          = link_to "Sign out", destroy_user_session_path
        - else
          = link_to "Sign up", new_user_registration_path
          or 
          = link_to "sign in", new_user_session_path
          
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
        
      = yield
